<div class="grid-2">
  <div class="grid-item" style="--column: 1">
    <ng-container *ngComponentOutlet="innerComponent" />
  </div>
  <div class="grid-item" style="--column: 2">
    <div class="tab">
      <button class="tablinks" (click)="openSourceCode($event, 'TS')">
        TS
      </button>
      <button class="tablinks" (click)="openSourceCode($event, 'HTML')">
        HTML
      </button>
      <button class="tablinks" (click)="openSourceCode($event, 'SCSS')">
        SCSS
      </button>
    </div>
    <!-- Tab content -->
    <div id="TS" class="tabcontent">
      <h3>TS</h3>
      <pre><code id="TS-toto"></code></pre>
    </div>

    <div id="HTML" class="tabcontent">
      <h3>HTML</h3>
      <pre><code id="HTML-toto"></code></pre>
    </div>

    <div id="SCSS" class="tabcontent">
      <h3>SCSS</h3>
      <pre><code id="SCSS-toto"></code></pre>
    </div>
  </div>
</div>
