<article style="width: 25em;">
    <div style="margin-bottom: 0.5em;">
        Showcase a simple object with open properties. One can add any additional property based on one of the schemes of defined by the <code>selectionList</code> scheme property. 

    </div>
    <div style="margin-bottom: 0.5em;">
        Uses the <code>selectionList</code> scheme property.
    </div>
    <div style="margin-bottom: 0.5em;">
        Added properties are like optional properties, they show a trash can and can be deleted.
    </div>
    <div style="margin-bottom: 0.5em;">
        Click on the debug checkbox to see the resulting value.
    </div>
</article>
<br>   

DEBUG <input type="checkbox" [(ngModel)]="debug"/>
<object-editor [context]="mycontext" [debug]="debug"></object-editor>

