<ul>
  <li>
    <a href="/icons-tooltip">Farfa SVG Icons and Toolip Examples</a>
  </li>
  <li>
    Farfa Object Editor Examples
    <ul>
      <li>
        <a href="/simple-object">Simple Object</a>
      </li>
      <li>
        <a href="/optional-properties">Optional Properties</a>
      </li>
      <li>
        <a href="/simple-array">Simple Array</a>
      </li>
      <li>
        <a href="/files">Files Picker</a>
      </li>
      <li>
        <a href="/scheme-selection">Types Selection</a>
      </li>
      <li>
        <a href="/dynamic-styling">Dynamic Styling</a>
      </li>
      <li>
        <a href="/custom-frontend">Custom Front End</a>
      </li>
      <li>
        <a href="/angular-frontend">Angular Front End</a>
      </li>
      <li>
        <a href="/simple-signals">Simple Signals</a>
      </li>
    </ul>
  </li>
</ul>
